<!DOCTYPE html>
<html ng-app="nameApp">
<head>
 <title>AngularJS Name App</title>
 <script 
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
</script>
</head>
<body>
<div ng-controller="NameController">
 <label for="firstName">First Name:</label>
 <input type="text" id="firstName" ng-model="user.firstName" 
placeholder="Enter your first name">
 <br>
 <label for="lastName">Last Name:</label>
 <input type="text" id="lastName" ng-model="user.lastName" 
placeholder="Enter your last name">
 <br>
 <p ng-bind="getFullName()"></p>
</div>
<script>
 // Create an AngularJS module
 var app = angular.module('nameApp', []);
 // Create a controller for the module
 app.controller('NameController', function($scope) {
 // Initialize default values
 $scope.user = {
 firstName: 'John',
 lastName: 'Doe'
 };
 // Function to get the full name
 $scope.getFullName = function() {
 return 'Full Name: ' + $scope.user.firstName + ' ' + $scope.user.lastName;
 };
 });
</script>
</body>
</html>
